html {
	
}

html, body
{
    height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

h1 {
	color: red;
	font-size:40px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
    animation: blinc 2s linear infinite;
    animation-direction: alternate;
}

.container{
	height:50%;
	padding:15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	border: 2px solid #4d4d4d;
}

@keyframes blinc {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}